body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$brand-success\".\A         on line 17 of /home/suay/ignacioSuay/fceTests/src/main/scss/exercise.scss\A \A 12:   width: 120px !important;\A 13:   display: inline !important;\A 14: }\A 15: \A 16: .iconSuccess{\A 17:   color: $brand-success;\A 18: }\A 19: \A 20: .iconFail{\A 21:   color: $brand-danger;\A 22: }"; }
