<div class="exerciseBody">
    <h2>{{exercise.title}}</h2>
    <div>
        <exercise-content1 ng-show="isPart(1)"></exercise-content1>
        <exercise-content2 ng-show="isPart(2)"></exercise-content2>
        <exercise-content3 ng-show="isPart(3)"></exercise-content3>
        <exercise-content4 ng-show="isPart(4)"></exercise-content4>
    </div>

</div>
<div id="exParts" class="row margin-vert-40">
    <div class=" btn-group pull-left">
        <button class="btn" ng-class="btnPartClass(1)" ng-click="setPart(1)">Part 1</button>
        <button class="btn" ng-class="btnPartClass(2)" ng-click="setPart(2)">Part 2</button>
        <button class="btn" ng-class="btnPartClass(3)" ng-click="setPart(3)">Part 3</button>
        <button class="btn" ng-class="btnPartClass(4)" ng-click="setPart(4)">Part 4</button>
    </div>
    <div class="pull-right">
        <button class="btn btn-success" ng-click="check()">Check Now</button>
        <!--<button class="btn btn-success">Continue & Check later</button>-->
    </div>

</div>
