<div class="exerciseBody">
    <div>
        <div class=" btn-group pull-left">
            <a class="btn" ng-class="btnPartClass(1)" ui-sref="exercise.useOfEnglish({exam:'{{examName}}', part:1})">Part 1</a>
            <a class="btn" ng-class="btnPartClass(2)" ui-sref="exercise.useOfEnglish({exam:'{{examName}}', part:2})">Part 2</a>
            <a class="btn" ng-class="btnPartClass(3)" ui-sref="exercise.useOfEnglish({exam:'{{examName}}', part:3})">Part 3</a>
            <a class="btn" ng-class="btnPartClass(4)" ui-sref="exercise.useOfEnglish({exam:'{{examName}}', part:4})">Part 4</a>
        </div>
        <timer class="pull-right timerClass"/>
    </div>
    <br/>
    <div>
        <p class="uoeQuestion" ng-show="part === 1">1. Read the text below and decide which answer best fits each gap. </p>
        <p class="uoeQuestion" ng-show="part === 2">2. Read the text below and think of <i>one</i> word which best fits each gap. Use only one word in each gap. </p>
        <p class="uoeQuestion" ng-show="part === 3">3. Read the text below. Use one word given in capitals to form a word that fits in the gap. </p>
        <p class="uoeQuestion" ng-show="part === 4">4. Complete the second sentence so that it has a similar meaning to the first sentence, using the word given.
        You must use between two to five words, including the word given.</p>
    </div>

    <h2>{{exercise.title}}</h2>
    <div>
        <exercise-content1 ng-show="part === 1"></exercise-content1>
        <exercise-content2 ng-show="part === 2"></exercise-content2>
        <exercise-content3 ng-show="part === 3"></exercise-content3>
        <exercise-content4 ng-show="part === 4"></exercise-content4>
    </div>

</div>
<div id="exParts" class="row margin-vert-40">

    <div class="pull-right">
        <button class="btn btn-success" ng-click="clear()" ng-show="isChecked">Clear</button>
        <button class="btn btn-success" ng-click="check()" ng-disabled="isChecked">Check Now</button>
        <!--<button class="btn btn-success">Continue & Check later</button>-->
    </div>

</div>
