.exerciseBody{
  margin-top: 40px;
  line-height: 3em;
}

.selectEx{
  width: 120px !important;
  display: inline !important;
}

.iconSuccess{
  color: $brand-success;
}

.iconFail{
  color: $brand-danger;
}

#exParts{
  .btn-group .btn{
    &:focus{
      background-color: $brand-primary !important;
    }
  }
}

.inputEx{
  width: 100px !important;
  display: inline !important;
}
.inputEx4{
  width: 200px !important;
  display: inline !important;
}